---
layout: default
title: Ajinkya Kolhe Blog
description: Blog about Machine Learning and Deep Learning. 
---

<div class="well article">
{% assign sortedtags = site.tags | sort %}
{% for tag in sortedtags %}
    <h2>{{ tag[0] | capitalize }}</h2>
    <ul>
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ node.date | date: date_format }} </span></span><a href="{{ site.baseurl}}{{ node.url }}"> {{ node.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
    </ul>
{% endfor %}
</div>
